$red: red;
$green: green;
$blue: blue;

.sass-lazy-red {
  color: $red;
}

.sass-lazy-green {
  color: $green;
}

.sass-lazy-blue {
  color: $blue;
}

.sass-lazy-background {
  height: 1200px;
  background: url("./logo.png") center no-repeat;
}
